# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

result/
.vscode/
build/
testcase/
debug/cmake_install.cmake
debug/CMakeCache.txt
debug/Makefile
debug/CMakeFiles/cmake.check_cache
debug/CMakeFiles/CMakeDirectoryInformation.cmake
debug/CMakeFiles/CMakeOutput.log
debug/CMakeFiles/Makefile.cmake
debug/CMakeFiles/Makefile2
debug/CMakeFiles/progress.marks
debug/CMakeFiles/TargetDirectories.txt
debug/CMakeFiles/3.22.1/CMakeCCompiler.cmake
debug/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
debug/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
debug/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
debug/CMakeFiles/3.22.1/CMakeSystem.cmake
debug/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
debug/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
debug/CMakeFiles/3DPlacer.dir/build.make
debug/CMakeFiles/3DPlacer.dir/cmake_clean.cmake
debug/CMakeFiles/3DPlacer.dir/compiler_depend.internal
debug/CMakeFiles/3DPlacer.dir/compiler_depend.make
debug/CMakeFiles/3DPlacer.dir/compiler_depend.ts
debug/CMakeFiles/3DPlacer.dir/depend.make
debug/CMakeFiles/3DPlacer.dir/DependInfo.cmake
debug/CMakeFiles/3DPlacer.dir/flags.make
debug/CMakeFiles/3DPlacer.dir/link.txt
debug/CMakeFiles/3DPlacer.dir/progress.make
debug/CMakeFiles/FindOpenMP/ompver_C.bin
debug/CMakeFiles/FindOpenMP/ompver_CXX.bin
debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c
debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp
debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c
debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp
debug/CTS/cmake_install.cmake
debug/CTS/Makefile
debug/CTS/CMakeFiles/CMakeDirectoryInformation.cmake
debug/CTS/CMakeFiles/progress.marks
debug/CTS/CMakeFiles/CTS.dir/build.make
debug/CTS/CMakeFiles/CTS.dir/cmake_clean_target.cmake
debug/CTS/CMakeFiles/CTS.dir/cmake_clean.cmake
debug/CTS/CMakeFiles/CTS.dir/compiler_depend.internal
debug/CTS/CMakeFiles/CTS.dir/compiler_depend.make
debug/CTS/CMakeFiles/CTS.dir/compiler_depend.ts
debug/CTS/CMakeFiles/CTS.dir/depend.make
debug/CTS/CMakeFiles/CTS.dir/DependInfo.cmake
debug/CTS/CMakeFiles/CTS.dir/flags.make
debug/CTS/CMakeFiles/CTS.dir/link.txt
debug/CTS/CMakeFiles/CTS.dir/progress.make
debug/FFT/cmake_install.cmake
debug/FFT/Makefile
debug/FFT/CMakeFiles/CMakeDirectoryInformation.cmake
debug/FFT/CMakeFiles/progress.marks
debug/FFT/CMakeFiles/FFT.dir/build.make
debug/FFT/CMakeFiles/FFT.dir/cmake_clean_target.cmake
debug/FFT/CMakeFiles/FFT.dir/cmake_clean.cmake
debug/FFT/CMakeFiles/FFT.dir/compiler_depend.internal
debug/FFT/CMakeFiles/FFT.dir/compiler_depend.make
debug/FFT/CMakeFiles/FFT.dir/compiler_depend.ts
debug/FFT/CMakeFiles/FFT.dir/depend.make
debug/FFT/CMakeFiles/FFT.dir/DependInfo.cmake
debug/FFT/CMakeFiles/FFT.dir/flags.make
debug/FFT/CMakeFiles/FFT.dir/link.txt
debug/FFT/CMakeFiles/FFT.dir/progress.make
debug/FFT/CMakeFiles/FFTTest.dir/build.make
debug/FFT/CMakeFiles/FFTTest.dir/cmake_clean.cmake
debug/FFT/CMakeFiles/FFTTest.dir/compiler_depend.make
debug/FFT/CMakeFiles/FFTTest.dir/compiler_depend.ts
debug/FFT/CMakeFiles/FFTTest.dir/depend.make
debug/FFT/CMakeFiles/FFTTest.dir/DependInfo.cmake
debug/FFT/CMakeFiles/FFTTest.dir/flags.make
debug/FFT/CMakeFiles/FFTTest.dir/link.txt
debug/FFT/CMakeFiles/FFTTest.dir/progress.make
debug/Optimization/cmake_install.cmake
debug/Optimization/Makefile
debug/Optimization/CMakeFiles/CMakeDirectoryInformation.cmake
debug/Optimization/CMakeFiles/progress.marks
debug/Optimization/CMakeFiles/OptTest.dir/build.make
debug/Optimization/CMakeFiles/OptTest.dir/cmake_clean.cmake
debug/Optimization/CMakeFiles/OptTest.dir/compiler_depend.make
debug/Optimization/CMakeFiles/OptTest.dir/compiler_depend.ts
debug/Optimization/CMakeFiles/OptTest.dir/depend.make
debug/Optimization/CMakeFiles/OptTest.dir/DependInfo.cmake
debug/Optimization/CMakeFiles/OptTest.dir/flags.make
debug/Optimization/CMakeFiles/OptTest.dir/link.txt
debug/Optimization/CMakeFiles/OptTest.dir/progress.make
debug/Optimization/CMakeFiles/Optimization.dir/build.make
debug/Optimization/CMakeFiles/Optimization.dir/cmake_clean_target.cmake
debug/Optimization/CMakeFiles/Optimization.dir/cmake_clean.cmake
debug/Optimization/CMakeFiles/Optimization.dir/compiler_depend.internal
debug/Optimization/CMakeFiles/Optimization.dir/compiler_depend.make
debug/Optimization/CMakeFiles/Optimization.dir/compiler_depend.ts
debug/Optimization/CMakeFiles/Optimization.dir/depend.make
debug/Optimization/CMakeFiles/Optimization.dir/DependInfo.cmake
debug/Optimization/CMakeFiles/Optimization.dir/flags.make
debug/Optimization/CMakeFiles/Optimization.dir/link.txt
debug/Optimization/CMakeFiles/Optimization.dir/progress.make
debug/Parser/cmake_install.cmake
debug/Parser/Makefile
debug/Parser/CMakeFiles/CMakeDirectoryInformation.cmake
debug/Parser/CMakeFiles/progress.marks
debug/Parser/CMakeFiles/Parser.dir/build.make
debug/Parser/CMakeFiles/Parser.dir/cmake_clean_target.cmake
debug/Parser/CMakeFiles/Parser.dir/cmake_clean.cmake
debug/Parser/CMakeFiles/Parser.dir/compiler_depend.internal
debug/Parser/CMakeFiles/Parser.dir/compiler_depend.make
debug/Parser/CMakeFiles/Parser.dir/compiler_depend.ts
debug/Parser/CMakeFiles/Parser.dir/depend.make
debug/Parser/CMakeFiles/Parser.dir/DependInfo.cmake
debug/Parser/CMakeFiles/Parser.dir/flags.make
debug/Parser/CMakeFiles/Parser.dir/link.txt
debug/Parser/CMakeFiles/Parser.dir/progress.make
debug/Parser/CMakeFiles/ParserTest.dir/build.make
debug/Parser/CMakeFiles/ParserTest.dir/cmake_clean.cmake
debug/Parser/CMakeFiles/ParserTest.dir/compiler_depend.make
debug/Parser/CMakeFiles/ParserTest.dir/compiler_depend.ts
debug/Parser/CMakeFiles/ParserTest.dir/depend.make
debug/Parser/CMakeFiles/ParserTest.dir/DependInfo.cmake
debug/Parser/CMakeFiles/ParserTest.dir/flags.make
debug/Parser/CMakeFiles/ParserTest.dir/link.txt
debug/Parser/CMakeFiles/ParserTest.dir/progress.make
debug/PlaceCommon/cmake_install.cmake
debug/PlaceCommon/Makefile
debug/PlaceCommon/CMakeFiles/CMakeDirectoryInformation.cmake
debug/PlaceCommon/CMakeFiles/progress.marks
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/build.make
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/cmake_clean_target.cmake
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/cmake_clean.cmake
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/compiler_depend.internal
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/compiler_depend.make
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/compiler_depend.ts
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/depend.make
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/DependInfo.cmake
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/flags.make
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/link.txt
debug/PlaceCommon/CMakeFiles/PlaceCommon.dir/progress.make
debug/PlaceDB/cmake_install.cmake
debug/PlaceDB/Makefile
debug/PlaceDB/CMakeFiles/CMakeDirectoryInformation.cmake
debug/PlaceDB/CMakeFiles/progress.marks
debug/PlaceDB/CMakeFiles/PlaceDB.dir/build.make
debug/PlaceDB/CMakeFiles/PlaceDB.dir/cmake_clean_target.cmake
debug/PlaceDB/CMakeFiles/PlaceDB.dir/cmake_clean.cmake
debug/PlaceDB/CMakeFiles/PlaceDB.dir/compiler_depend.internal
debug/PlaceDB/CMakeFiles/PlaceDB.dir/compiler_depend.make
debug/PlaceDB/CMakeFiles/PlaceDB.dir/compiler_depend.ts
debug/PlaceDB/CMakeFiles/PlaceDB.dir/depend.make
debug/PlaceDB/CMakeFiles/PlaceDB.dir/DependInfo.cmake
debug/PlaceDB/CMakeFiles/PlaceDB.dir/flags.make
debug/PlaceDB/CMakeFiles/PlaceDB.dir/link.txt
debug/PlaceDB/CMakeFiles/PlaceDB.dir/progress.make
debug/Placer/cmake_install.cmake
debug/Placer/Makefile
debug/Placer/MeshTest
debug/Placer/PlacerTest
debug/Placer/SpacePlacerTest
debug/Placer/CMakeFiles/CMakeDirectoryInformation.cmake
debug/Placer/CMakeFiles/progress.marks
debug/Placer/CMakeFiles/MeshTest.dir/build.make
debug/Placer/CMakeFiles/MeshTest.dir/cmake_clean.cmake
debug/Placer/CMakeFiles/MeshTest.dir/compiler_depend.internal
debug/Placer/CMakeFiles/MeshTest.dir/compiler_depend.make
debug/Placer/CMakeFiles/MeshTest.dir/compiler_depend.ts
debug/Placer/CMakeFiles/MeshTest.dir/depend.make
debug/Placer/CMakeFiles/MeshTest.dir/DependInfo.cmake
debug/Placer/CMakeFiles/MeshTest.dir/flags.make
debug/Placer/CMakeFiles/MeshTest.dir/link.txt
debug/Placer/CMakeFiles/MeshTest.dir/progress.make
debug/Placer/CMakeFiles/Placer.dir/build.make
debug/Placer/CMakeFiles/Placer.dir/cmake_clean_target.cmake
debug/Placer/CMakeFiles/Placer.dir/cmake_clean.cmake
debug/Placer/CMakeFiles/Placer.dir/compiler_depend.internal
debug/Placer/CMakeFiles/Placer.dir/compiler_depend.make
debug/Placer/CMakeFiles/Placer.dir/compiler_depend.ts
debug/Placer/CMakeFiles/Placer.dir/depend.make
debug/Placer/CMakeFiles/Placer.dir/DependInfo.cmake
debug/Placer/CMakeFiles/Placer.dir/flags.make
debug/Placer/CMakeFiles/Placer.dir/link.txt
debug/Placer/CMakeFiles/Placer.dir/progress.make
debug/Placer/CMakeFiles/PlacerTest.dir/build.make
debug/Placer/CMakeFiles/PlacerTest.dir/cmake_clean.cmake
debug/Placer/CMakeFiles/PlacerTest.dir/compiler_depend.internal
debug/Placer/CMakeFiles/PlacerTest.dir/compiler_depend.make
debug/Placer/CMakeFiles/PlacerTest.dir/compiler_depend.ts
debug/Placer/CMakeFiles/PlacerTest.dir/depend.make
debug/Placer/CMakeFiles/PlacerTest.dir/DependInfo.cmake
debug/Placer/CMakeFiles/PlacerTest.dir/flags.make
debug/Placer/CMakeFiles/PlacerTest.dir/link.txt
debug/Placer/CMakeFiles/PlacerTest.dir/progress.make
debug/Placer/CMakeFiles/SpacePlacerTest.dir/build.make
debug/Placer/CMakeFiles/SpacePlacerTest.dir/cmake_clean.cmake
debug/Placer/CMakeFiles/SpacePlacerTest.dir/compiler_depend.internal
debug/Placer/CMakeFiles/SpacePlacerTest.dir/compiler_depend.make
debug/Placer/CMakeFiles/SpacePlacerTest.dir/compiler_depend.ts
debug/Placer/CMakeFiles/SpacePlacerTest.dir/depend.make
debug/Placer/CMakeFiles/SpacePlacerTest.dir/DependInfo.cmake
debug/Placer/CMakeFiles/SpacePlacerTest.dir/flags.make
debug/Placer/CMakeFiles/SpacePlacerTest.dir/link.txt
debug/Placer/CMakeFiles/SpacePlacerTest.dir/progress.make
debug/Plot/cmake_install.cmake
debug/Plot/Makefile
debug/Plot/CMakeFiles/CMakeDirectoryInformation.cmake
debug/Plot/CMakeFiles/progress.marks
debug/Plot/CMakeFiles/Plot.dir/build.make
debug/Plot/CMakeFiles/Plot.dir/cmake_clean_target.cmake
debug/Plot/CMakeFiles/Plot.dir/cmake_clean.cmake
debug/Plot/CMakeFiles/Plot.dir/compiler_depend.internal
debug/Plot/CMakeFiles/Plot.dir/compiler_depend.make
debug/Plot/CMakeFiles/Plot.dir/compiler_depend.ts
debug/Plot/CMakeFiles/Plot.dir/depend.make
debug/Plot/CMakeFiles/Plot.dir/DependInfo.cmake
debug/Plot/CMakeFiles/Plot.dir/flags.make
debug/Plot/CMakeFiles/Plot.dir/link.txt
debug/Plot/CMakeFiles/Plot.dir/progress.make
debug/Plot/CMakeFiles/PlotTierTest.dir/build.make
debug/Plot/CMakeFiles/PlotTierTest.dir/cmake_clean.cmake
debug/Plot/CMakeFiles/PlotTierTest.dir/compiler_depend.make
debug/Plot/CMakeFiles/PlotTierTest.dir/compiler_depend.ts
debug/Plot/CMakeFiles/PlotTierTest.dir/depend.make
debug/Plot/CMakeFiles/PlotTierTest.dir/DependInfo.cmake
debug/Plot/CMakeFiles/PlotTierTest.dir/flags.make
debug/Plot/CMakeFiles/PlotTierTest.dir/link.txt
debug/Plot/CMakeFiles/PlotTierTest.dir/progress.make
